<body class="sidebar-menu-collapsed">
  <section>
    <div class="sidebar-menu sticky-sidebar-menu">
      <div class="sidebar-menu-inner">

        <!-- sidebar nav start -->
        <ul class="nav nav-pills nav-stacked custom-nav">
        
            <li class="mt-5"><a href=""><i class="fa fa-users"></i> <span>Dealers</span></a></li>
          
          <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
        </ul>
        <a class="toggle-btn">
          <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
          <i class="fa fa-angle-double-right menu-collapsed__right"></i>
        </a>
      </div>
    </div>
    <div class="header sticky-header">
      <div class="container">
        <div class="logo-area">
          <h4 class="my-logo mt-3">MY MART</h4>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="container-fluid content-top-gap">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            <div class="welcome-msg pb-3 ml-auto">
              <a href="" class="btn btn-primary">Add Vendor <i class="fas fa-plus ml-1"></i></a>
            </div>
          </ol>
          
        </nav>



        <!-- statistics data -->
        <div class="statistics">
          <div class="row">
            <div class="col-xl-6 pr-xl-2">
              <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                  <div class="card card_border border-primary-top p-4">
                    <i class="lnr lnr-users"> </i>
                    <h3 class="text-primary number">75</h3>
                    <p class="stat-text">Total Dealers.</p>
                  </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                  <div class="card card_border border-primary-top p-4">
                    <i class="lnr lnr-eye"> </i>
                    <h3 class="text-secondary number">51</h3>
                    <p class="stat-text">Opened.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 pl-xl-2">
              <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid">
                  <div class="card card_border border-primary-top p-4">
                    <i class="lnr lnr-clock"> </i>
                    <h3 class="text-success number">10</h3>
                    <p class="stat-text">Closed</p>
                  </div>
                </div>
                <div class="col-sm-6 pl-sm-2 statistics-grid">
                  <div class="card card_border border-primary-top p-4">
                    <i class="lnr lnr-lock"> </i>
                    <h3 class="text-danger number">2</h3>
                    <p class="stat-text">Total Banned</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //statistics data -->

        <style>
          body {
            font-family: 'Montserrat', sans-serif;
          }

          .my-logo {
            font-size: 1.7rem;
            font-weight: 600;
            color: #53B175;
          }

          .arrow {
            border: solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
          }

          .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }

          .logout-text {
            text-decoration: none;
            color: #fff;
          }

          .logout-text:hover {
            text-decoration: none;
            color: #fff;
          }

          .logo-area {
            width: fit-content;
            height: auto;
          }

          .btn-primary {
            font-family: 'Montserrat', sans-serif;
          }
          .nav{
            font-family: 'Montserrat', sans-serif;
          }
        </style>
        <script>
          // When the user scrolls down 20px from the top of the document, show the button
          window.onscroll = function () {
            scrollFunction()
          };

          function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("movetop").style.display = "block";
            } else {
              document.getElementById("movetop").style.display = "none";
            }
          }

          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
          }
        </script>
        <!-- /move top -->

        <!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


        <!-- close script -->
        <script>
          var closebtns = document.getElementsByClassName("close-grid");
          var i;

          for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function () {
              this.parentElement.style.display = 'none';
            });
          }
        </script>
        <!-- //close script -->

        <!-- disable body scroll when navbar is in active -->
        <script>
          $(function () {
            $('.sidebar-menu-collapsed').click(function () {
              $('body').toggleClass('noscroll');
            })
          });
        </script>
        <!-- disable body scroll when navbar is in active -->