<div class="main-content">
  <div class="container-fluid content-top-gap">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Settings</li>
      </ol>
    </nav>
 
    <h4 class="p-2">Banned Dealers.</h4>
    {{!-- table start --}}
    <section id="table">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Dealers Address</th>
              <th scope="col">Dealers Name</th>
              <th scope="col" class="act">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each banned}}
            <tr>
              <td style="text-transform: uppercase;">{{this.Storename}}</td>
              <td>{{this.Name}}</td>
              <td>
                <a href="" class="btn btn-ban">UNBAN</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
    {{!-- table end --}}
    <style>
      body {
        font-family: 'Montserrat', sans-serif;
      }

      .my-logo {
        font-size: 1.7rem;
        font-weight: 600;
        color: #53B175;
      }

      .arrow {
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      .logo-area {
        width: fit-content;
        height: auto;
      }

      .btn-primary {
        font-family: 'Montserrat', sans-serif;
      }

      .nav {
        font-family: 'Montserrat', sans-serif;
      }
      .btn-ban {
        background-color: #8fad06ec;
        border-radius: 30px;
        width: 90px;
        height: 35px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
      }

      #table {
        background-color: #fff;
        margin-top: 5px;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgb(116, 115, 115);
      }
    </style>
