<header>
  <div class="container">
    <nav>
      <div class="logo">
        <a href="">
          <h4 class="logo mt-3">MY MART</h4>
        </a>
      </div>
      <div class="navbar">
        <ul>
          <li>
            <a href="">
              <div id="ex4">
                <span class="p1 fa-stack fa-2x has-badge" data-count="4">
                  <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse pt-1" style="color: #111; font-size: 26px;"
                    data-count="4b"></i>
                </span>
              </div>
            </a>
          </li>
          <li>
            <div class="mt-3">
              <a href="">
              <img src="/images/admin_login_img.png" class="rounded-circle" alt="profile" width="40px" height="40px">
            </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<hr>


<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .logo {
    color: #1d753e;
    font-size: 1.7rem;
    font-weight: 700;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }



  ul {
    list-style: none;
  }

  .navbar ul {
    display: flex;
  }

  #ex4 .p1[data-count]:after {
    position: absolute;
    right: 20%;
    top: 12%;
    content: attr(data-count);
    font-size: 37%;
    padding: .2em;
    border-radius: 43%;
    line-height: 1em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 1.2em;
  }

  .fa-2x {
    font-size: 25px;
  }

  .navbar {
    padding: 0px;
  }

  .fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 1.7em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
  }

  hr {
    margin-top: -1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  .navbar li{
    padding-right: 30px;
  }
  @media screen and (max-width: 992px) {
  .navbar li{
    padding-right: 5px;
  }
}
</style>