<section>
    <div class="areas">
        <div class="container">
            <div class="hero-text">
                <h2 class="h-txt">ORDER FROM YOUR NEAREST SUPER MARKET.</h2>
            </div>
            <div>
                <h6 class="body-text">An Easy Grocery Delivery Platform On Which You Can <br> Buy Your Desired Quality
                    Grocery Products Fast and Easy Way.</h6>
            </div>
            <div class="button-area">
                <a href="" class="btn btn-order">Order Now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="infos col-md-4">
                <div class="categories-section">
                    <div class="image-area">
                        <div class="p-2">
                            <img src="/images/personal-care.png" alt="" width="100px" height="100px">
                        </div>
                    </div>
                    <div class="info-area">
                        <div class="heading-area">
                            <h4 class="heading">PERSONAL CARE</h4>
                        </div>
                        <div class="details">
                            <p>Lorem ipsum dolor sit amet consectetur, adipiscing elit inceptos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infos col-md-4 ">
                <div class="categories-section">
                    <div class="image-area">
                        <div class="p-2">
                            <img src="/images/banana.png" alt="" width="100px" height="100px">
                        </div>
                    </div>
                    <div class="info-area">
                        <div class="heading-area">
                            <h4 class="heading">FRUITS & VEG</h4>
                        </div>
                        <div class="details">
                            <p>Lorem ipsum dolor sit amet consectetur, adipiscing elit inceptos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infos col-md-4">
                <div class="categories-section">
                    <div class="image-area">
                        <div class="p-2">
                            <img src="/images/other-goods.png" alt="" width="100px" height="100px">
                        </div>
                    </div>
                    <div class="info-area">
                        <div class="heading-area">
                            <h4 class="heading">OTHER GOODS</h4>
                        </div>
                        <div class="details">
                            <p>Lorem ipsum dolor sit amet consectetur, adipiscing elit inceptos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    html{
        font-family: 'Montserrat', sans-serif;
    }
    .areas {
        width: 100%;
        height: 23rem;
        background-color: #e8effc;
    }

    .h-txt {
        color: #1d753e;
        font-weight: 800;
        padding-top: 5rem;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
    }

    .container {
        text-align: center;
        align-items: center;
    }

    .body-text {
        margin-top: 2rem;
        font-weight: 500;
        color: #111;
        letter-spacing: 1px;
        line-height: 1.5rem;
        font-size: 1.1rem;
        font-family: 'Montserrat', sans-serif;
    }

    .btn-order {
        background-color: #1d753e;
        color: #fff;
        font-weight: 500;
        border-radius: 10px;
        width: 12rem;
        margin-top: 3rem;
        font-family: 'Montserrat', sans-serif;
    }

    .button-area:hover {
        letter-spacing: 2px;
        transition-duration: 1s;
    }

    .btn-order:hover {
        background-color: #2d8f52;
    }
    .infos{
        width: 2rem;
        height: 15rem;
    }
    .categories-section{
        background-color: #fff;
        width: 20rem;
        height: 13rem;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 2px 2px rgb(163, 161, 161);
        cursor: pointer;
    }
    .categories-section:hover{
        background-color: #2d8f52;
        transition-duration: 0.5s;
        color: #fff;
    }
    .image-area{
        width: 100%;
        height: 50%;
        
    }
    .heading{
        font-size: 1.1rem;
        font-weight: 600;
        padding-top: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .details p{
        font-family: 'Montserrat', sans-serif;
    }

    @media screen and (max-width: 992px) {
        .h-txt {
            font-weight: 800;
            padding-top: 2rem;
            letter-spacing: 1px;
            font-size: 1.5rem;

        }

        .body-text {
            font-size: 0.9rem;
        }

        .btn-order {
            margin-top: 2rem;
        }

    }

    @media screen and (max-width: 400px) {
        .h-txt {
            font-weight: 800;
            padding-top: 2rem;
            letter-spacing: 1px;
            font-size: 1.4rem;

        }

        .body-text {
            font-size: 0.9rem;
        }

        .btn-order {
            margin-top: 2rem;
        }

    }
</style>
{{!-- 53B175 --}}