<section>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 carde ">
                <div class="card">
                    <div class="img-area pt-3 m-auto">
                        <img src="/product-images/{{this._id}}.jpg" alt="" height="75px" width="75px">
                    </div>
                    <div>
                        <h4 class="pro-name">{{this.Name}}</h4>
                        <p class="pro-catg">{{this.Category}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-8 pro-price"><b>₹ {{this.Price}}.00</b></div>
                        <div class="col-md-4">
                            <a href=""><i class="fas fa-plus-square"
                                    style="color:#1d753e; font-size: 45px; line-height: 0.5;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<style>
    .carde {
        height: 14rem;
        margin-bottom: 1rem;
    }

    .card {
        width: 90%;
        height: 100%;
        margin: 0rem;
        border-radius: 15px;
        border: solid 1px #111;
    }

    .pro-name {
        color: #111;
        padding-left: 1rem;
        padding-top: .7rem;
        font-family: 'Montserrat', sans-serif;
    }

    .pro-catg {
        font-family: 'Montserrat', sans-serif;
        padding-left: 1rem;
    }

    .pro-price {
        font-size: 1.2rem;
        padding-left: 2.5rem;
    }
</style>