<section>
    <div class="main-content">
        <div class="container-fluid content-top-gap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Orders</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container mt-3">
        <div class="order-t ">
            <div class="container head-p">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <p class="address-p" style="font-size: 13px;color: #fff;">Flat No. 32<br>Highlight Mall
                                </p>
                            </th>
                            <th scope="col" style="font-size: 14px;color: #fff;">Shibu Das</th>
                            <th scope="col" style="font-size: 10px; color: #fff;">Created on: <br> Just Now</th>
                            <th scope="col" style="font-size: 10px;">
                                <div class="dropdown">
                                    <button class="dropbtn pl-4 pr-4">Status<i
                                            class="arrow down ml-2 mb-.9"></i></button>
                                    <div class="dropdown-content">
                                        <a href="#">Pending</a>
                                        <a href="#">Out for Delivery</a>
                                        <a href="#">Confrimed</a>
                                        <a href="#">Rejected</a>
                                        <a href="#">Delivered</a>
                                        <a href="#">Delayed</a>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <a href="" class="btn btn-info" data-toggle="modal" data-target="#myModal">View</a>
                            </th>
                            <th>
                                <a href="" class="btn btn-secondary">Submit</a>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><b>Bell pepper</b></td>
                                    <td>1 KG</td>
                                    <td>X</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td><b>Apple</b></td>
                                    <td>1 KG</td>
                                    <td>X</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td><b>Orange</b></td>
                                    <td>1 KG</td>
                                    <td>X</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><b>TOTAL ITEM</b></td>
                                    <td><b>14</b></td>
                                </tr>
                                <tr>
                                    <td><b>TOTAL COST</b></td>
                                    <td><b>₹459</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="order-t ">
            <div class="container head-p">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <p class="address-p" style="font-size: 13px;color: #fff;">Flat No. 32<br>Highlight Mall</p>
                            </th>
                            <th scope="col" style="font-size: 14px;color: #fff;">Shibu Das</th>
                            <th scope="col" style="font-size: 10px; color: #fff;">Created on: <br> Just Now</th>
                            <th scope="col" style="font-size: 10px;">
                                <div class="dropdown">
                                    <button class="dropbtn pl-4 pr-4">Status<i
                                            class="arrow down ml-2 mb-.9"></i></button>
                                    <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <a href="" class="btn btn-info">View</a>
                            </th>
                            <th>
                                <a href="" class="btn btn-secondary">Submit</a>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><b>Bell pepper</b></td>
                                    <td>1 KG</td>
                                    <td>X</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td><b>Apple</b></td>
                                    <td>1 KG</td>
                                    <td>X</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td><b>Orange</b></td>
                                    <td>1 KG</td>
                                    <td>X</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td><b>TOTAL ITEM</b></td>
                                    <td><b>14</b></td>
                                </tr>
                                <tr>
                                    <td><b>TOTAL COST</b></td>
                                    <td><b>₹459</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="model-area">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-2">
                                <div>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="order-id">
                                    <h6 class="p-2">ORDER ID : 58yhn6i8</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="ord-list">
                                        <div class="container">
                                            <table class="table table-sm">
                                                <tbody>
                                                    <tr class="mt-5">
                                                        <td><img src="/images/apple.png" alt=""
                                                                style="width: 25px; height: 25px;"></td>
                                                        <td style="text-transform: uppercase; color: #fff; ">
                                                            <b>Apple</b></td>
                                                        <td style="color: #fff;">10 Nos</td>
                                                        <td style="color: #fff;"><b>₹</b>40.00</td>
                                                    </tr>
                                                    <tr class="mt-5">
                                                        <td><img src="/images/apple.png" alt=""
                                                                style="width: 25px; height: 25px;"></td>
                                                        <td style="text-transform: uppercase; color: #fff; ">
                                                            <b>Apple</b></td>
                                                        <td style="color: #fff;">10 Nos</td>
                                                        <td style="color: #fff;"><b>₹</b>40.00</td>
                                                    </tr>
                                                    <tr class="mt-5">
                                                        <td><img src="/images/apple.png" alt=""
                                                                style="width: 25px; height: 25px;"></td>
                                                        <td style="text-transform: uppercase; color: #fff; ">
                                                            <b>Apple</b></td>
                                                        <td style="color: #fff;">10 Nos</td>
                                                        <td style="color: #fff;"><b>₹</b>40.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="container">
                                            <div class="rate-area">
                                                <table class="table table-borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 10px;"><b>TOTAL ITEM :</b></td>
                                                            <td style="font-size: 10px;"><b>14</b></td>
                                                            <td style="font-size: 10px;"><b>TOTAL COST :</b></td>
                                                            <td style="font-size: 10px;"><b>₹459</b></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mt-5" > 
                                        <h6 style="color: #3e8e41;">Non Contact Delivery<i class="fas fa-check ml-1"></i></h6>
                                    </div>
                                    <div class="mt-5">
                                        <p class="address-p" style="font-size: 18px;color:#3e8e41;line-height: 22px;">Flat No. 32<br>Highlight Mall</p>
                                    </div>
                                    <div class="mt-5">
                                        <h6 style="color: #3e8e41;">Mode of Payment :  paypal</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>

</section>

<style>
    .order-t {
        width: 100%;
        height: fit-content;
        background-color: rgb(236, 232, 232);
        border-radius: 10px;
        box-shadow: 2px 2px 2px #d7dad8;
    }

    .head-p {
        width: 100%;
        height: 60px;
        background-color: #53B175;
        border-radius: 10px;
        box-shadow: 0px 2px 2px #9ea3a0;
    }

    .address-p {
        line-height: 13px;
    }

    /* Style The Dropdown Button */
    .dropbtn {
        background-color: #fff;
        color: #53B175;
        padding: 5px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .arrow {
        border: solid #53B175;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .btn {
        font-family: 'Montserrat', sans-serif;
        height: 33px;
        font-size: 13px;
        border-radius: 10px;
    }

    .btn-info {
        color: #53B175;
        background-color: #fff;
        border-color: #fff;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 0px solid #dee2e6;
    }

    .order-id {
        border: 2px solid #111;
        width: 100%;
    }

    .model-area {
        margin: 0;
        padding: 0;
        width: 51rem;
    }

    .modal {
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .ord-list {
        width: 30rem;
        height: 24rem;
        background-color: #468d60;
        border-radius: 10px;
    }

    .rate-area {
        width: 82%;
        height: 36px;
        background-color: #ffffff;
        border-radius: 14px;
        position: absolute;
        bottom: 8px;
        overflow: hidden;
    }
    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>